@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: 0;
}

h3 {
  margin: 10px 0;
}
h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.Card-container {
  background-color: rgb(9, 34, 34);
  border-radius: 7px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: white;
  padding-top: 30px;
  width: 300px;
  max-width: 100%;
  text-align: center;
  position: relative;
}

.pro {
  color: #231e39;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.online {
  background-color: greenyellow;
}
.offline {
  background-color: #febb0b;
}

.img {
  border: 1px solid #213e55;
  border-radius: 14%;
  padding: 0px;
  width: 100px;
  height: 100px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button.primary {
  background-color: #0984e3;
  border: 1px solid #0984e3;
  border-radius: 4px;
  color: white;
  font-family: "inter";
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.outline {
  background-color: transparent;
}

.skills {
  /* background-color: #e6e9ec; */
  text-align: left;
  padding: 15px;
  margin-top: 15px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  display: inline-block;
  border-radius: 5px;
  padding: 6px;
  margin: 0 7px 7px 0;
  font-size: 12px;
  color:#f5f5f5;
  /* background: #5f7586; */
}
